* {
  color: white;
}

body {
  background-image: url('./assets/images/tom-kulczycki-N2fRlew1J6U-unsplash.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: rgb(73, 0, 73);
}

button {
  color: black;
}

.main-img {
  height: 15rem;
  border-radius: 50%;
}
