/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --bg-wht1: rgba(255, 255, 255, 0.2);
  --bg-wht2: rgba(255, 255, 255, 0.1);
  --bg-blk1: rgba(0, 0, 0, 0.8);
  --bg-blk2: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: EduVICWANTBeginner;
  src: url('./assets/fonts/EduVICWANTBeginner-Regular.ttf');
}

@font-face {
  font-family: GreyQo-Regular;
  src: url('./assets/fonts/GreyQo-Regular.ttf');
}

* {
  font-family: EduVICWANTBeginner, Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgb(46, 0, 46);
  background: no-repeat center
    url('./assets/images/bnw-tom-kulczycki-N2fRlew1J6U-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-blk1);
  /* background-color: var(--bg-wht1); */
}

header > p {
  font-family: GreyQo-Regular, Arial, Helvetica, sans-serif;
  font-size: 5rem;
  /* font-weight: bold; */
}

header > nav {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  transition: 400ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform: translateY(-0.35rem);
}

#content {
  background-color: var(--bg-blk2);
  /* background-color: var(--bg-wht2); */
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 2rem;
  font-size: 1.3rem;
}

.home > :first-child {
  font-weight: bold;
}

.home > .main-img {
  height: 20rem;
  border-radius: 50%;
  border: 5px solid rgb(84, 0, 84);
}

.menu > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.menu > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  background-color: var(--bg-blk2);
}

.menu > ul > li:hover {
  cursor: pointer;
  background-color: var(--bg-wht2);
}

.menu > ul > li > :first-child {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu > ul > li > img {
  width: 5rem;
  height: auto;
}

.menu > ul > li > :last-child {
  align-self: start;
  font-size: 1rem;
}

.menu > p {
  padding: 0 2rem 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.contact > div {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.contact img {
  height: 3rem;
}

.contact > .map {
  align-self: fill;
  height: auto;
}

@media only screen and (max-width: 600px) {
  header > p {
    font-size: 3.5rem;
  }

  #content {
    margin-bottom: 2rem;
  }

  .home > .main-img {
    height: 15rem;
  }

  .menu > ul {
    grid-template-columns: 1fr;
  }

  .contact > div {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .menu > ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .menu > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
